body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.appWrapper {
  background-color: #137752;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.botOffset {
  margin-bottom: 0.8rem;
}

.profileComponentsOffset {
  margin-top: 3rem;
}

.navbar {
  margin-bottom: 3rem;
}

.userReservationsHistory {
  overflow-x: scroll;
  border-top: 0 none;
}

.userReservationIcon {
  height: .8em;
  width: .8em;
  margin-right: 0.5rem;
}

.userReservationSportIcon {
  max-height: 40%;
  max-width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.userReservationCard {
  width: 15rem;
}
